doctype html
html(lang='en')

  head
      link(rel='stylesheet', href='./index.css')
      meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body
    nav
      .logo
        img(src="./assets/images/logo.png")
      span.nav-link
        a(href="#about_us") About Us
      span.nav-link
        a(href="#event_1") Taste For Change
      span.nav-link
        a(href="#what_we_do") What we Do
      span.nav-link
        a(href="#contact_us") Contact Us

    section#intro
        .left
          .header-wrapper
            h1 when
            h1 dreams
            h1 fly
            h1 higher

        .right
          .header-wrapper
            h1 smiles
            h1 go
            h1 wider

        .clearfix

    section#about_us
      .section-header
        h1 About Us
      .section-body

        .desc-img
          img(src="./assets/images/about-us/children.jpg")

        p Not everyone is bestowed with the power to help the other. And while a lot of us really wish to extend a helping hand, very few look out for opportunities for the same.
        p Parwaaz is a youth driven, non-profit organisation that is aimed at making the not-so-fortunate sections of the society empowered with employment, education and life skills. Having distinct corporate backgrounds, we are a team of individuals who long to strike a balance in the society at large. Having worked with various NGOs at different stages of life, we have always tried to give back to society in some way or the other. And in turn, this social work has given us a lot more than we could ever ask… the satisfaction of contributing to change, the pleasure of transforming lives and a peaceful sleep every single night.

        h2 Our Vision
        p Our vision is that the Standard of living and quality of life improves for every underprivileged family and that they are able to live a better everyday life.
        p Currently focusing on the slums of Pune, we have a vision to reach out to various slums across the country and make a difference in the way they live.

    section#what_we_do
      .section-header
        h1 What we do ?
      .section-body
        p Our belief is that 'change' never happens, unless you make it happen. And that's the reason, we strive to build opportunities for those sections of the society which need a positive change.

        h2 Here's how we do it at Parwaaz

        .row.activities.vertical-center
          .column.activity
            span.header Elevating the employability
            p.description
              |  Our endeavours focus at making the people from slums financially independent by identifying and developing their skills and providing them employment opportunities. To make this happen, we direct the existing opportunities towards this section of the society by acting as a bridge between them and the potential avenues.

          .separator

          .column.activity
            span.header Education for children
            p.description
              | Though a majority of children are being imparted with basic education, lack of resources and teaching skills deny them the quality of education they deserve. Our efforts are  centred around ensuring access to affordable and quality education, and substantially increasing number of youths and adults with relevant skills for employment and entrepreneurship.

          .separator

          .column.activity
            span.header Improving health &amp; hygiene
            p.description
              | Going beyond basic education, we also teach individuals in the slums about maintaining their health and hygiene. we encourage discussions about health issues and guide them to lead a more hygienic life that keeps harmful infections and diseases at bay.

          .separator

          .column.activity
            span.header Imparting basic life skills
            p.description
              | To ensure that the slum individuals feel confident and aware in the outside world, we guide them on basic skills like banking, laws, helplines, govt policies etc. We believe these skills, will not just evolve them into more informed citizens, but also help them compete with the real world.

    section.events#event_1
      .section-header
        h1 Taste for Change
      .section-body.even-padding
        .row.vertical-center
          .event-gallery.column
            .slider
              span.prev &#10094;
              .images._1.active
                img(src="./assets/images/events/event_2/img_1.jpg")
              .images._2
                img(src="./assets/images/events/event_2/img_2.jpg")
              .images._3
                img(src="./assets/images/events/event_2/img_3.jpg")
              .clearfix
              span.next &#10095;

          .separator

          .event-description.column
            p.text-center Parwaaz was thrilled to celebrate Daan Utsav- the joy of giving week in Pune. Parwaaz had arranged lip smacking snacks stall at Cummins college. In line with the culture at Parwaaz, these were prepared by the women from economically weaker sections of the society. Thanks to everyone who came and helped harvest smiles.

    section#contact_us
      .section-header
        h1 Contact Us
      .section-body.even-padding
        .row.vertical-center
          .column
            h3 Talk to us on,
            .contact-element.row.vertical-center
              .column
                h4 Email:
              .column
                span.mail-id
                  a(href='mailto:parwaaz.2018@gmail.com')  parwaaz.2018@gmail.com
            .contact-element.row.vertical-center
              .column
                h4 Phone:
              .column
                span.phone-no
                  a(href="tel:9011069161") +91 9011069161
            h3 Follow us on,
            .contact-element
              .social-icon
                a(href="https://www.facebook.com/parwaaz2018/" target="_blank")
                  img(src="./assets/images/icons/facebook.png")
              .social-icon
                a(href="https://www.linkedin.com/company/parwaaz/" target="_blank")
                  img(src="./assets/images/icons/linkedin.png")

          .separator

          .reply-back-form.column
            iframe(src="https://form.jotform.me/82964640088466")
            //- h3 Ping us And we'll contact you,

            //- form.form
            //-   .form-field
            //-     label Full Name
            //-     input(type="text")
            //-   .form-field
            //-     label Email
            //-     input(type="email")
            //-   .form-field
            //-     label Phone Number
            //-     input(type="text")
            //-   .form-submit
            //-     button(type="button") Send


  block scripts
    script(src='assets/scripts/slider.js')

