
$dark-text-color: #05396B
$light-text-color: #FFF
$dark-bg-color: #868686
$light-bg-color: #ECE107

$body-bg-color: #FFF

/* intro color */

$intro-dark-bg: $dark-bg-color
$intro-light-bg: $light-bg-color

/* section colors */

$section-header-bg-color: $dark-bg-color
$section-body-bg-color: $light-bg-color
$section-text-color: $dark-text-color
$section-header-text-color: $light-text-color

/* slider colors */
$navigation-bg-color: $dark-bg-color
$navigation-arrow-color: $light-text-color

/* link color */
$link-light-color: $light-text-color
$link-dark-color: $dark-text-color

/* separator */
$separator-color: radial-gradient(transparentize($dark-text-color, 0.5), transparent);

/* colors according to action */
$inactive-color: rgba($dark-text-color, 0.7);