// color theme taken from https://coolors.co/0f263d-00aeff-db162f-ffd700-ff9700
$dark-text-color: #FFF
$light-text-color: #000
$dark-bg-color: #DB162F
$light-bg-color: #0F263D

$body-bg-color: #FFF

/* intro color */

$intro-dark-bg: $dark-bg-color
$intro-light-bg: $light-bg-color

/* section colors */

$section-header-bg-color: $dark-bg-color
$section-body-bg-color: $light-bg-color
$section-text-color: $dark-text-color
$section-header-text-color: $light-text-color

/* slider colors */
$navigation-bg-color: $dark-bg-color
$navigation-arrow-color: $light-text-color

/* link color */
$link-light-color: $light-text-color
$link-dark-color: $dark-text-color

/* separator */
$separator-color: radial-gradient(transparentize($dark-text-color, 0.5), transparent);

/* colors according to action */
$inactive-color: rgba($dark-text-color, 0.7);